<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.crm.qa.testcases.AddCampaignpopuptest"/>
      <class name="com.crm.qa.testcases.brokercampaigntest"/>
      <class name="com.crm.qa.testcases.RegisteredBrokerTest"/>
      <class name="com.crm.qa.testcases.Addcontracttest"/>
      <class name="com.crm.qa.testcases.LoginPageTest"/>
      
      <class name="com.crm.qa.testcases.Postpagetest"/>
      <class name="com.crm.qa.testcases.SystemUsertest"/>
      <class name="com.crm.qa.testcases.HomePagetest"/>
      <class name="com.crm.qa.testcases.ContractFiledPagetest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
